{% extends 'base.html' %}

{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static 'vendor/datatables/jquery.dataTables.min.css' %}">

    <section>
        <div>
            {{ datatable }}
        </div>
    </section>

{% endblock %}

{% block extra_js %}
{#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
{#            crossorigin="anonymous"></script>#}
    <script type="text/javascript" charset="utf8"
            src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

    <!-- Load js for initializing tables via their server-side options -->
    <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            datatableview.initialize($('.datatable'));
        });
    </script>
{% endblock %}