{% extends 'base.html' %}

{% load static %}

{% block body %}

    <style>
        .img-hidden {
            display: none;
        }
    </style>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Gonculator Armory is a web app to help you request and view quotes for your new
                            armory.</h1>
                        <a href="#about" class="btn btn-outline btn-xl js-scroll-trigger">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen" onclick="nextImage()">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{% static 'img/armory-sm.jpg' %}" class="img-fluid" alt="" id="img-1">
                                    <img src="{% static 'img/armory_zoom.jpg' %}" class="img-fluid img-hidden" alt="" id="img-2">
                                </div>
                                <div class="button" onclick="nextImage()">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {#    <section class="download bg-primary text-center" id="download">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-8 mx-auto">#}
    {#                    <h2 class="section-heading">Discover what all the buzz is about!</h2>#}
    {#                    <p>Our app is available on any mobile device! Download now to get started!</p>#}
    {#                    <div class="badges">#}
    {#                        <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>#}
    {#                        <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section class="features" id="about">
        <div class="container">
            <div class="section-heading text-center">
                <h2>We're here to get you everything you need</h2>
                <p class="text-muted">Check out what we offer.</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
{#                                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">#}
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fa fa-mobile-alt text-primary"></i>
                                    <h3>Quotes anywhere</h3>
                                    <p class="text-muted">Check up on your quotes from anywhere.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fa fa-cogs text-primary"></i>
                                    <h3>Flexible Design</h3>
                                    <p class="text-muted">Custom designs to fit your needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fa fa-users text-primary"></i>
                                    <h3>What You Need</h3>
                                    <p class="text-muted">Get what you need without the up-sell.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fa fa-lock text-primary"></i>
                                    <h3>Secure</h3>
                                    <p class="text-muted">Keep your assets safe secure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta" id="contact">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start building.</h2>
                <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

{#    <section class="contact bg-primary" id="contact">#}
{#        <div class="container">#}
{#            <h2>We#}
{#                <i class="fas fa-heart"></i>#}
{#                new friends!</h2>#}
{#            <ul class="list-inline list-social">#}
{#                <li class="list-inline-item social-twitter">#}
{#                    <a href="#">#}
{#                        <i class="fab fa-twitter"></i>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="list-inline-item social-facebook">#}
{#                    <a href="#">#}
{#                        <i class="fab fa-facebook-f"></i>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="list-inline-item social-google-plus">#}
{#                    <a href="#">#}
{#                        <i class="fab fa-google-plus-g"></i>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </section>#}

{#    <footer>#}
{#        <div class="container">#}
{#            <p>&copy; Your Website 2019. All Rights Reserved.</p>#}
{#            <ul class="list-inline">#}
{#                <li class="list-inline-item">#}
{#                    <a href="#">Privacy</a>#}
{#                </li>#}
{#                <li class="list-inline-item">#}
{#                    <a href="#">Terms</a>#}
{#                </li>#}
{#                <li class="list-inline-item">#}
{#                    <a href="#">FAQ</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </footer>#}

{% endblock %}

{% block extra_js %}
    <script>
        let i = 1;
        function nextImage() {
            let img_hide = document.getElementById("img-" + i);
            if(i===1){
                i++;
            }
            else {
                i--;
            }
            console.log(i);
            let img_show = document.getElementById("img-" + i);
            img_show.classList.remove("img-hidden");
            img_hide.classList.add("img-hidden");
        }
    </script>
{% endblock %}
